/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F4F4F4;
}

/* Form Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

.login-form__title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-bottom: 40px;
}

.login-form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-form__input-wrapper {
  margin-bottom: 20px;
}

.login-form__input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #F8F8F8;
  transition: box-shadow 0.2s ease;
  margin-bottom: 10px;
}

.login-form__input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

.login-form__input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.login-form__password-wrapper {
  position: relative;
}

.login-form__password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 0.9rem;
}

.login-form__password-toggle:focus {
  outline: none;
}

.login-form__submit-btn {
  display: block;
  width: 100%;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 20px;
}

.login-form__submit-btn:hover, .login-form__submit-btn:focus {
  background-color: gray;
}

/* Responsive Styles */

@media only screen and (max-width: 767px) {
  .login-form {
    max-width: 90%;
  }
}

.login-form__submit-btn {
  margin-top: 20px;
}

.login-form__forgot-password {
  text-align: center;
  margin-top: 10px;
}

.login-form__forgot-password-link {
  color: #007bff;
  text-decoration: none;
}

.login-form__forgot-password-link:hover, .login-form__forgot-password-link:focus {
  text-decoration: underline;
}