body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 1s;
}

.login-box h2 {
  margin-top: 0px;
  text-align: center;
  color: #333;
}

.login-box form label {
  display: block;
  margin-top: 20px;
  color: #333;
}

.login-box form input[type="text"], .login-box form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 16px;
}

.login-box form button {
  width: 100%;
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.login-box form button:hover {
  transform: scale(1.1);
}

.login-box form button.register-btn {
  background-color: #777;
}

.login-box form .forgot-password {
  float: right;
  font-size: 14px;
  margin-top: 10px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.login-box form .forgot-password:hover {
  color: #777;
}

.login-box form .show-password {
  position: absolute;
  right: 10px;
  top: 48%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.login-box form .show-password:hover {
  color: #777;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.login-box .error-message {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

.login-box .countdown {
  margin-top: 20px;
  color: #333;
  font-weight: bold;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-5px);
  }
  
  20%, 80% {
    transform: translateX(5px);
  }

  30%, 50%, 70% {
    transform: translateX(-5px);
  }
  
  40%, 60% {
    transform: translateX(5px);
  }
  
  100% {
    transform: translateX(0);
  }
}

.login-box.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

